<%= render 'partials/errors', obj: man, f: f %>
<%= label_text(:name, f) %>
<% if man.frames.count > 0 %>
	<%= render 'display_edit_manufacturer', man: man %>
<% end %>
<h3>Choose other frames to associate with this manufacturer.</h3>
<ul>
	<div class="hint">* frames can ONLY be associate with ONE manufacturer, so chooing one below will remove the association from the other manufacturer.</div>
	<%= f.label :frame_ids, :hidden => true %>
	<% frames = other_manufacturers(man) %>
	<div class="collection_check_boxes">
		<%= f.collection_check_boxes :frame_ids, other_manufacturers(man), :id, :full_name %>
	</div>
</ul>