<% cart.each do |item| %>
	<%= item.full_name %> <b>$<%= item.price %> <%= link_to "Remove", remove_from_cart_path(:id => item.id) %></b>
	<ul>
		<li><%= item.part_number %> </li>
	</ul>
<% end %>
Total: <%= total %>
