<p><%= addr.label :street_address_1 %>
<%= addr.text_field :street_address_1 %></p>
<p><%= addr.label :street_address_2 %>
<%= addr.text_field :street_address_2 %></p>
<p><%= addr.label :city %>
<%= addr.text_field :city %></p>
<p><%= addr.label :state %>
<%= addr.text_field :state %><%= addr.label :zip %>
<%= addr.text_field :zip %></p>
<p><%= addr.label :default, "Set as default?" %>
	<%= addr.check_box :default %></p>