<%= addr.hidden_field :user_id %>
<%= label_text :user_id, addr %>
<%= label_text :street_address_1, addr %>
<%= label_text :street_address_2, addr %>
<%= label_text :city, addr %>
<%= label_text :state, addr %>
<%= label_text :zip, addr %>
<p><%= addr.label :default, "Set as default?" %>
	<%= addr.check_box :default %></p>