<div class="address block">
	Address: <%= address.street_address_1 %> <br>
	<% if !address.street_address_2.empty? %>
		Address Line 2: <%= address.street_address_2 %> <br>
	<% end %>
	City: <%= address.city %> <br>
	State: <%= address.state %> Zip: <%= address.zip %> <br>
</div>