<!DOCTYPE html>
<html>
<head>
  <title>BikeWarehouse</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <h1>Admin Panel</h1>
    <% if logged_in? %>
      <p>Hello, <%= current_user.username %> <%= logout_link %></p>
    <% end %>
    <div class="nav">
      <%= link_to "Admin Home", admin_path %>
      <%= link_to "View inventory", admin_base_path %>
      <%= link_to "Edit inventory", admin_base_edit_path %>
      <%= link_to "View transaction history", admin_path %> 
    </div>
    <% if !flash[:message].nil? %>
      <div class="flash">
        <%= flash[:message] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>