<h1>Profile</h1>
<%= link_to "View transaction history", "/users/#{@user.id}/purchases" %>
<%= link_to "Edit profile info", edit_user_path %> <br>
<b>Username: </b> <%= @user.username %> <br>
<b>Email: </b> <%= @user.email %> <br>
<b>Phone number: </b> <%= @user.phone_number %> <br>

<h3>Shipping addresses on file</h3>
<%= render 'list_addresses', addresses: @user.shipping_addresses %>
<h3>Billing addresses on file</h3>
<%= render 'list_addresses', addresses: @user.billing_addresses %>
