<%= render 'session/cart', cart: cart_lookup, total: cart_total %>
<hr>
<%= form_for @purchase do |f| %>
	<%= f.hidden_field :user_id %>
	<h3>Shipping Address</h3>
	<%= render_errors(@purchase.shipping_address) %>
	<%= f.fields_for @purchase.shipping_address do |addr| %>
		<%= render 'partials/address_form', addr: addr, f: f %>
	<% end %>
	<%= hidden_field_tag "billing_address[same_as_shipping]", 0 %>
	<%= label_tag "billing_address[same_as_shipping]", "Use shipping address for billing address?" %>
	<%= check_box_tag "billing_address[same_as_shipping]" %>
	<h3>Billing Address</h3>
	<%= render_errors(@purchase.shipping_address) %>
	<%= f.fields_for @purchase.billing_address do |addr| %>
		<%= render 'partials/address_form', addr: addr, f: f %>
	<% end %>
	<%= submit_tag "Proceed to Purchase" %>
<% end %>