<h1>Bikes</h1>
<table id='bikes-table'>
	<tr>
		<th><%= sort_by_link("manufacturer", @direction) %></th>
		<th><%= sort_by_link("frame", @direction) %></th>
		<% if !is_admin? %>
			<th><%= sort_by_link("size", @direction) %></th>
		<% end %>
		<th><%= sort_by_link("components", @direction) %></th>
		<th><%= "Disciplines" %></th>
		<th><%= sort_by_link("quantity", @direction) %></th>
		<th><%= sort_by_link("rating", @direction) %></th>
		<th><%= sort_by_link("price", @direction) %></th>
		<% if is_admin? %>
			<th>Part number</th>
			<th>Serial number</th>
			<th>Status</th>
			<th></th>
		<% end %>
		<th></th>
	</tr>
</table>


<%= javascript_include_tag 'bikes/index' %>
