<h1><%= @bike.full_name %></h1>
<ul>
	<li>Components: <%= @bike.components %></li>
	<li>Size: <%= @bike.size %></li>
	<li>Color: <%= @bike.color %></li>
	<li>Disciplines: <%= @bike.discipline_names %></li>
	<li>Part number: <%= @bike.part_number %></li>
	Qty available: <%= @bike.qty_available %>
</ul>
<h3>$<%= @bike.price %></h3>
<%= button_for_cart_or_edit(@bike) %>
<hr>
<%= render_review_form(@review) %>
<%= render_reviews(@bike) %>
