<%= label_text(:name, f) %>
<% if man.frames.count > 0 %>
	<h3>Current frames</h3>
	<table>
		<tr>
			<th>Frame <br>name</th>
			<th>Qty in<br>Inventory</th>
			<th></th>
			<th></th>
		</tr>
		<% man.frames.each do | frame | %>
			<tr>
				<td><%= frame.name %></td>
				<td align="center"><%= frame_total_count(frame.name) %></td>
				<td><%= link_to "Edit", edit_frame_path(frame, :redirect => edit_manufacturer_path(man)) %></td>	
				<td><%= deletable?(frame, man) %></td>			
			</tr>

		<% end %>
	</table>
<% end %>
<h3>Frames can be chosen to associate with this manufacturer.</h3>
<ul>
	<div class="hint">* frames can ONLY be associate with ONE manufacturer, so chooing one below will remove the association from the other manufacturer.</div>
	<%= f.label :frame_ids, :hidden => true %>
	<% frames = other_manufacturers(man) %>
	<div class="collection_check_boxes">
		<%= f.collection_check_boxes :frame_ids, other_manufacturers(man), :id, :full_name %>
	</div>
</ul>