 <!DOCTYPE html>
<html>
  <head>
    <title>BikeWarehouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="nav">
      <% if logged_in? %>
        <h1>Welcome back to the Bike Warehouse, <%= current_user.username %></h1>
      <% else %>
        <h1>Welcome to the Bike Warehouse</h1>
        <div align="right">
          <h3><%= link_to "Sign up", signup_path %>
          <%= link_to "Log in", login_path %></h3>
          <%= link_to "Log in with Facebook", '/auth/facebook' %>
        </div>
      <% end %>
    </div>
    <%= link_to "Home", root_path %>
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user) %>
      <%= logout_link %><br>
    <% end %>
    <div class="block"><%= link_to_cart(cart_qty) %></div>
    <hr>
    <% if !flash[:message].nil? %>
      <div class="flash">
        <%= flash[:message] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
