 <!DOCTYPE html>
<html>
  <head>
    <title>BikeWarehouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p>Welcome back to the Bike Warehouse, <%= current_user.username %> <%= logout_link %></p>
      <div class="nav">
        
      </div>
    <% else %>
      <h1>Welcome to the Bike Warehouse</h1>
      <div class="nav">
        <%= link_to "Sign up", signup_path %>
        <%= render 'session/login' %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
